.cards_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/bg.jpg);
    background-size:  contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
    border-radius: 20px;
    margin: 20px;
    transition: ease-in-out 0.2s;
}

.cards_container:has(+*+ :hover){
    filter: blur(2px);
}

.cards_container:has(+ :hover){
    filter: blur(2px);
}

.cards_container:hover {
    transform: scale(1.02);
}

.cards_container:hover+* {
    filter: blur(2px);
}

.cards_container:hover+*+* {
    filter: blur(2px);
}

.text_content {
    text-align: center;
    width: 400px;
}

h1, p {
    color: white;

}